/* 
    Document   : transactSuccess
    Created on : 03 22, 12, 1:05:29 AM
    Author     : jezi22
    Description:
        Purpose of the stylesheet follows.
*/

body {
     font-family: Helvetica,Arial sans-serif;
     font-size:12px;
}

#wrapper {
     background: none repeat scroll 0% 0% blue;
     margin: 10px;
}
