/* 
    Document   : finals
    Created on : 12 20, 08, 1:35:43 PM
    Author     : jezi22
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
html,body,div,p,fieldset,label{
    margin:0;
    padding:0;
    font-family: arial, sans-serif;
}

#wrapper {
    padding:10px 10px 10px 10px;
    width:800px;
    margin:0 auto;
    overflow:hidden;
}
#sidebar {
    display:none;
    width:30%;
    padding:20px 20px 20px 20px;
    border: 1px solid #000000;
    float: left;
}

#main{
    width:500px;
    float:right;
    border: 1px solid #000000;
    padding:0px 5px 5px 5px;
}
#main_header {
    text-align: center;
    margin: 5px 10px 15px 5px;
}


#main_header h3{
    margin: 0;
}

.table_format {
    margin-bottom: 10px;

}

.table_format table {
    margin: 0 auto;
}

.table_format td {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.table_prehead {
    margin-left: 22px;
    margin-bottom: 5px;

}

.table_header td{
    font-weight: bold;
}



