/* 
    Document   : finals
    Created on : 12 20, 08, 1:35:43 PM
    Author     : jezi22
    Description:
        Purpose of the stylesheet follows.
*/

/* CSS for onlineTicket.jsp START */
html,body,div,p,fieldset,label{
    margin:0;
    padding:0;
    font-family: arial, sans-serif;
}

#wrapper {
    padding:10px 10px 10px 10px;
    width:800px;
    margin:0 auto;
    overflow:hidden;
}

#sidebar {
    display:none;
    width:30%;
    padding:0px 20px 20px 20px;
    border: 1px solid #000000;
    float: left;
}

#sidebar b {
    font-size:16px;
}

#sidebar h4 {
    margin-top:14px;
    margin-bottom:10px;
    font-size: 18px;
}
#sidebar p{
  font-size:12px;
  margin-bottom:12px;
}

#departure {
    border-top: 1px dashed #000000;
}
#main{
    width:500px;
    float:right;
    border: 1px solid #000000;
    padding:0px 5px 5px 5px;
}
#main_header {
    text-align: center;
    margin: 5px 10px 15px 5px;
}


#main_header h3{
    margin: 0;
}

.flight_type{
    margin-left:10px;
    margin-bottom: 15px;
    font-weight: bold;
}
.table_format {
    margin-bottom: 10px;

}

.table_format table {
    margin: 0 auto;
}

.table_format td {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.table_date {
    margin-left: 22px;
    margin-bottom: 5px;

}

.table_header td{
    font-weight: bold;
}

/* CSS for onlineTicket.jsp END */


